* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.startmenu {
    text-align: center;
    width: 100%;
    height: 33vh;
    margin-bottom: 2vh;
    background-color: aqua;
}

.startitems {
    position: relative;
    top: 10vh;
    text-decoration: none;
    color: black;
    font-style: normal;
    letter-spacing: normal;
    transition: letter-spacing 0.3s ease, font-style 0.3s ease;
}

.startitems:hover {
    font-style: italic;
    letter-spacing: 2px;
}
